header {
    padding: 28px 8px;
    width: 100%;
}
#navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
} 
#nav_logo {
    color: red;
    font-size: 24px;
}
#nav_list 
{
    display: flex;
    gap: 48px;
    list-style: none;
}
.nav-item a {
    color: #1d1d1dad;
    font-weight: 600;
    text-decoration: none;
}
.nav-item.active a {
    color: #1d1d1d;
    border-bottom: 3px solid #ffe100;
}
#mobile_btn {
    display: none;
}
#mobile_menu {
    display: none;
}
@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default {
        display: none;
    }
    #mobile_btn {
        background-color: transparent;
        border: none;
        cursor:  pointer;
        display: block;
        font-size: 1.5rem;
    }
    #mobile_menu.active {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}